nav{
	height: 55px;
	width: 100vw;
	background-color: #FA5456;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: -1px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid #ffffff14;
	z-index: 40;
}

nav a{
	width: 25%;
	height: 55px;
	color: #fff;
	cursor: default;
	text-decoration: none;
	text-align: center;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 0.15s;
	font-size: 18px;
	padding-top: 18px;
	background-size: 70%;
}

nav a:hover{
	background-color: #FA5456;
}